* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
	line-height: 1;
    overflow-x: hidden;
    font-family: "Roboto", serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

h1 // h2, h3, h4, h5, h6

    {
    font-family: "Shrikhand", serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}


img {
    // object-fit: cover;
    width: 100%;
}

.text-left {
    text-align: left;
}

@media screen and (min-width: 730px) {

    i {
        font-size: 1.2em;
    }
}