$primary-color: #9356dc;
$secondary-color: #ff79da;
$light-hover: #f5edff;
$third-color: #99e2d0;
$footer-color: #353535;
$grey-color: #eaeaea;
$light-grey-color: #f6f6f6;
$grey-text-color: #302d2d;
$success-color: #99E2D0;
$success-color-text:#008766;
$gradiant-purple: linear-gradient(90deg,
  rgba(255, 121, 218, 1) 0%,
  rgba(87, 32, 150, 1) 85%);