@media screen and (min-width: 730px) {

    i {
        font-size: 20px;
    }

    .option-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .option-container-restaurant {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        img {
            width: 50%;
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 1400px) {

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .upper {
        text-align: left;
    }

    .items-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main {
        h2 {
            text-align: center !important;
            padding: 1em;
        }
    }

    .restaurants {
display: flex;
flex-direction: column;

        // .w-40 {
        //     width: 40%;
        // }

        text-align: center;

        h2 {
            padding: 1em;
        }

        .option-item-restaurant {
            margin-bottom: 3em;
        }

    }

    .option-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        justify-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .items-menu {
            justify-content: space-between;
            align-items: center;

            span {
                display: contents;

                //    justify-content: space-between;
                p {
                    margin: 2em;
                }
            }
        }

    }

    footer {
        .footer {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
    }
}