#header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & h1 a {
    color: black;
  }

  & section {
    width: 100%;
    padding-top: 0.7em;

    & .location {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: #eaeaea;
      border-top: 3px solid #e7e6e6;
      height: 90px;

     & a {
        display: flex;
        align-items: center;
        justify-content: center;

       & i {
          margin: 1em;
        }
      }
    }

    & p {
      padding: 1em 0;
      font-weight: 300;
      color: $grey-text-color;

      & i {
        padding-right: 1em;
      }
    }
  }

  & .jumbotron {
    background-color: $light-grey-color;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      font-weight: 900;
      padding: 1em 0;
      margin: 0 .5em;
    }

    & p {
      margin: 0 1em;
    }

    & button {
      @include button-purple;
      width: 200px;
      height: 60px;
    }

    & button:hover {
      transform: scale(1);
      @include scale-hover;
    }
  }

  & .header-img {
    height: 230px;
    width: 100%;
  }
}