#functional {

    margin: 2.5em 0;

   & h2 {
        margin: 0 0 1em 1em;
    }

   & .option-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        @include option;
        cursor: pointer;

        :hover {
            @include scale-hover;
            background-color: $light-hover;

           & i {
                color: $primary-color;
            }
        }

        &__item {
            position: relative;
            background-color: $light-grey-color;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            margin: .7em;
            @include option;
            @include box_shadow;
            width: 300px;

           & .dot {
               left: -1em;
                height: 30px;
                width: 30px;
                background-color: $primary-color;
                border-radius: 50%;
                position: absolute;
                color: white;
                line-height: 30px;
            }

           & i {
                color: rgb(158, 151, 151);
                font-size: 20px;
            }

           & i,
            strong {
                margin: 1em;
            }

            :hover {
                box-shadow: none;
                cursor: pointer;
            }
        }
    }

   & .button-container {

        text-align: center;
        padding: 2em 0 3em 0;

       & button {
            width: 60%;
            @include button-purple;
        }

        button:hover {
            transform: scale(1);
            @include scale-hover;
        }
    }

}

@media screen and (min-width: 768px) {
    
    .option-container {
        display: flex;
        flex-direction: row;

        &__item {
            margin: 0 2em;
        }
    }

    h2 {
        text-align: center;
    }
}