#restaurants {

    padding: 2.5em 0;
    background-color: $light-grey-color;

    & h2 {
        margin: 0 0 1em 1em;
    }
}

.container-restaurant {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 1em;

    
    &__item {
        border-radius: 15px;
        margin: .7em 0 .7em 0em;
        min-height: 13em;
        position: relative;
        border: 1px solid rgb(230, 230, 230);
        
        &:hover {
            @include scale-hover;
        }
        & img {
            @include card-img;
            max-height: 155px;
            width: 270px;
        }
        

        & p {
            margin: .5em 1em;
        }

        & .new-alert {

            text-align: center;
            padding: 6.5px;
            background-color: $success-color;
            color: $success-color-text;
            position: absolute;
            margin-left: 11em;
            margin-top: .8em;
            float: right;
            border-radius: 5px;

        }

        & div {
            display: flex;
            justify-content: space-between;
            position: relative;

            & input {
                display: none;
            }

            & i.icon-full {
                display: none;
                background: $gradiant-purple;
                // Ici le webkit est obligatoire pour insérer un gradient en color
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

             input:checked+label i.icon-full {
                display: block;
            }

             input:checked+label .icon-empty {
                display: none;
            }



            & span {
                position: absolute;
                right: 1em;
                top: 0;
                bottom: 0;
                transition: all .3s ease-in-out;

                & i {
                    margin-right: 0.5em;
                    margin-top: 1em;
                    font-size: 23px;
                }
            }
        }
    }
}


@media screen and (min-width:580px) {

    .container-restaurant {
    
        &__item {
            margin: 1em;
        }
    }

    .restaurants {
        text-align: center;

    }
}