#restaurants {

    padding: 2.5em 0;
    background-color: $light-grey-color;

    h2 {

        margin: 0 0 1em 1em;

    }
}

.container-restaurant {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;

    img {
        @include card-img;
    }

    &__item {
        border-radius: 15px;
        margin: .7em 0 .7em 0em;
        @include box_shadow;

        &:hover {
            transform: scale(1);
            @include scale-hover;

        }

        .new-alert {

            height: 30px;
            width: 80px;
            background-color: $success-color;
            color: $success-color-text;
            position: absolute;
            margin-left: 11em;
            margin-top: .8em;
            float: right;
            border-radius: 5px;
            padding-left: .5em;
            padding-top: 0.3em;

        }

        div {
            display: flex;
            justify-content: space-between;
            position: relative;

            span {
                position: absolute;
                right: 1em;
                top: 0;
                bottom: 0;

                i {
                    margin-right: 0.5em;
                    margin-top: 1em;
                    font-size: 23px;
                }

            }

        }




        p {
            padding-bottom: 0.5em;
            text-align: left;
            margin-left: 1em;
            margin-top: 0.5em;
        }

    }


    img {
        @include card-img
    }

}


@media screen and (min-width:730px) {

    .container-restaurant {
        justify-content: space-evenly;

        img {
            width: 50%;
        }
    }
}

@media screen and (min-width:1400px) {
    .restaurants {
        text-align: center;



    }

}