@import '../variables.scss';
@import '../global.scss';


.option-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5em;


    .option-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5em;
        @include option;
        @include box_shadow;
    }

}

.option-container-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    background-color: $light-grey-color;

    img {
        @include card-img;
    }

    .option-item-restaurant {
        border-radius:  10px;
        margin: 0.5em 0 0.5em 0em;
        @include box_shadow;
    }

    p {
        text-align: left;

    }

    img {
        @include card-img
    }
}