.loader {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  animation-duration: 1s;
  animation-name: loader;

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--circle {
      position: fixed;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 10px solid white;
      border-bottom-color: transparent;
      animation-duration: 3s;
      animation-name: circle;
      animation-timing-function: linear;
      visibility: hidden;
    }
  }
}



@keyframes circle {
  0% {
    visibility: visible;
    transform: rotate(0deg);
  }

  99% {
    visibility: visible;
    transform: rotate(1000deg);
  }

  100% {
    z-index: -1;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    background-color: $primary-color;
    z-index: 2;
  }

  99% {
    z-index: 2;
    background-color: $primary-color;
  }

  100% {
    z-index: -1;
  }
}

// .fas, .fa-check-circle, i {
//   position: absolute;
//   background-color: #99E2D0;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   bottom: 0rem;
//   width: 0%;
//   justify-content: center;
//   border-top-right-radius: 0.9rem;
//   border-bottom-right-radius: 0.9rem;
//   left: 100%;
//   color: #fff;
//   font-size: 1.375rem;
//   visibility: hidden;
//   transition: all 0.3s;
// }

